################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/iTurret/.vs/iTurret/v15/Server/sqlite3
/iTurret/packages
