################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestApp/.vs/TestApp/v15/Server/sqlite3
